body
  {
  font-family: serif;
  font-size: 14pt;
  padding-left: 2%;
  padding-right: 2%;
  }


h1
  {
  color: #0000ff;
  font-family: arial,helvetica;
  font-size: xx-large;
  font-weight: bold;
  text-align: left;
  }


h2
  {
  border-bottom: 2px solid blue;
  color: #0000ff;
  font-family: arial,helvetica;
  font-size: x-large;
  font-weight: bold;
  margin-top: 2em;
  text-align: left;
  }


h3
  {
  border-bottom: 1px solid blue;
  color: #0000ff;
  font-family: arial,helvetica;
  font-size: large;
  font-weight: bold;
  margin-top: 1.5em;
  text-align: left;
  }


h4
  {
  color: #0000ff;
  font-family: arial,helvetica;
  font-size: medium;
  font-weight: bold;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  text-align: left;
/*  text-decoration: underline;*/
  }


h5
  {
/*  color: #0000ff;*/
  font-family: arial,helvetica;
  font-size: medium;
  font-weight: bold;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  text-align: left;
/*  text-decoration: underline;*/
  }


all.bullets
  {
  color: black;
  font-family: arial,helvetica;
  font-size: x-large;
  font-weight: bold;
  text-align: left;
  margin-left: 0.5em;
  }


all.bullets2
  {
  color: black;
  font-family: arial,helvetica;
  font-size: x-large;
  font-weight: normal;
  text-align: left;
  }


all.bullets3
  {
  color: black;
  font-family: arial,helvetica;
  font-size: large;
  font-weight: normal;
  text-align: left;
  }


all.entry
  {
  color: #000000;
  font-family: courier;
  text-align: center;
  }


all.package
  {
  color: #7f007f;
  font-family: arial,helvetica;
  font-size: large;
  font-weight: bold;
  }


div.LikeButton
  {
  padding: 1em;
  background: white;
  border: solid blue;
  font-family:arial,helvetica;
  }


div.listbox
  {
  font-family: sansserif;
  padding-left:5%;
  padding-right:5%;
  }


div.method
  {
  background: #cfcf7f;
  border: solid #4f4f00;
  padding: 0.5em;
  font-family: arial,helvetica;
  font-size: medium;
  font-weight: normal;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  text-align: left;
  text-decoration: none;
  }


div.special
  {
  padding: 1em;
  background: lightyellow;
  border: solid yellow;
  border-width: 1px;
  }


div.title
  {
  background-color: #00007f;
  border-bottom: 3px solid #007fff;
  color: white;
  font-family: verdana,helvetica,arial,sans-serif;
  font-size: x-large;
  font-weight: bold;
  padding: 1em 0.5em 1em 0.5em;
  text-align: center;
  }


dl.bulletlist
  {
  margin-top: 1.5em;
  padding-left: 1em;
  }


dl.bulletlist dd
  {
  font-family: serif
  font-size: medium;
  margin-left: 1.0em;
  margin-top: 0.25em !important;
  }


/*
dl.bulletlist dd p
  {
  font-family: serif
  font-size: medium;
  margin-top: 0;
  margin-left: 0.75em;
  }
*/


dl.bulletlist dt
  {
  font-family: arial,helvetica;
  font-size: medium;
  font-weight: bold;
  margin-top: 1em;
  margin-left: 0.25em;
  }


dl.list
  {
  margin-top: 0.5em;
  padding-left: 1em;
  }


dl.list li
  {
  margin-top: 0.25em;
  padding-left: 1em;
  }


p.Example, li.Example, div.Example, pre.Example
  {
/*  padding: 1em;*/
  margin-left:2em;
  margin-bottom:0.75em;
  margin-top:0;
  font-family: courier;
  /*font-size: small;*/
  font-weight: bold;
  }


p.Preformatted, li.Preformatted, div.Preformatted, pre.Preformatted
  {
  padding: 1em;
  margin-left:2em;
  background:#dfdfff;
  border: solid blue;
  font-family: courier;
  /*font-size: small;*/
  font-weight: bold;
  }


span.literal
  {
  color: #7f007f;
  font-family: courier;
  font-weight: bold;
  }


span.standout
  {
  color: #7f007f;
  font-family: arial,helvetica;
  font-weight: bold;
  }


span.subtitle
  {
  font-family: verdana,helvetica,arial,sans-serif;
  font-size: large;
  }


span.table-caption
  {
  font-family: verdana,helvetica,arial,sans-serif;
  font-weight: bold;
  }


table.index
  {
  background:#efefaf;
  border: inset #4f4f00;
  margin-left:2em;
  }


table.index tr td
  {
  padding: 0.5em;
  }


table.params
  {
  /*background:#dfdfff;*/
  background:#efefff;
  border: inset blue;
  border-collapse: collapse;
  margin-left:2em;
  }


table.params tr
  {
  text-align: left;
  vertical-align: top;
  }


table.params tr td,th
  {
  border: 1px solid gray;
  padding: 0.25em;
  }


ul.spaced
  {
  margin-top: 1em;
  }
